<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.jiangtao.backstage.mapper.TigMaTagsMapper" >
  <resultMap id="BaseResultMap" type="tech.jiangtao.backstage.model.TigMaTags" >
    <id column="tag_id" property="tagId" jdbcType="BIGINT" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="owner_id" property="ownerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    tag_id, tag, owner_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="tech.jiangtao.backstage.model.TigMaTagsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tig_ma_tags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tig_ma_tags
    where tag_id = #{tagId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tig_ma_tags
    where tag_id = #{tagId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="tech.jiangtao.backstage.model.TigMaTagsExample" >
    delete from tig_ma_tags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tech.jiangtao.backstage.model.TigMaTags" >
    insert into tig_ma_tags (tag_id, tag, owner_id
      )
    values (#{tagId,jdbcType=BIGINT}, #{tag,jdbcType=VARCHAR}, #{ownerId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="tech.jiangtao.backstage.model.TigMaTags" >
    insert into tig_ma_tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tech.jiangtao.backstage.model.TigMaTagsExample" resultType="java.lang.Integer" >
    select count(*) from tig_ma_tags
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tig_ma_tags
    <set >
      <if test="record.tagId != null" >
        tag_id = #{record.tagId,jdbcType=BIGINT},
      </if>
      <if test="record.tag != null" >
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null" >
        owner_id = #{record.ownerId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tig_ma_tags
    set tag_id = #{record.tagId,jdbcType=BIGINT},
      tag = #{record.tag,jdbcType=VARCHAR},
      owner_id = #{record.ownerId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tech.jiangtao.backstage.model.TigMaTags" >
    update tig_ma_tags
    <set >
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tech.jiangtao.backstage.model.TigMaTags" >
    update tig_ma_tags
    set tag = #{tag,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=BIGINT}
    where tag_id = #{tagId,jdbcType=BIGINT}
  </update>
</mapper>