<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.jiangtao.backstage.mapper.UserMapper">

  <insert id="save" parameterType="User">
    insert into user(email,password,nickname) values(#{email},#{password},#{nickname})
  </insert>

  <update id="update" parameterType="User">
    update user set nickname=#{nickname},password=#{password},email=#{email} where id=#{id}
  </update>

  <delete id="delete" parameterType="int">
    delete from user where id=#{id}
  </delete>

  <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->
  <select id="findById" parameterType="int" resultType="User">
    select * from user where user_id=#{id}
  </select>

  <select id="findAll" resultType="User">
    select * from user
  </select>
</mapper>