<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tech.jiangtao.backstage.mapper.UserJidMapper" >
  <resultMap id="BaseResultMap" type="tech.jiangtao.backstage.model.UserJid" >
    <id column="jid_id" property="jidId" jdbcType="BIGINT" />
    <result column="jid_sha" property="jidSha" jdbcType="CHAR" />
    <result column="jid" property="jid" jdbcType="VARCHAR" />
    <result column="history_enabled" property="historyEnabled" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    jid_id, jid_sha, jid, history_enabled
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="tech.jiangtao.backstage.model.UserJidExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_jid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_jid
    where jid_id = #{jidId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_jid
    where jid_id = #{jidId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="tech.jiangtao.backstage.model.UserJidExample" >
    delete from user_jid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tech.jiangtao.backstage.model.UserJid" >
    insert into user_jid (jid_id, jid_sha, jid, 
      history_enabled)
    values (#{jidId,jdbcType=BIGINT}, #{jidSha,jdbcType=CHAR}, #{jid,jdbcType=VARCHAR}, 
      #{historyEnabled,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="tech.jiangtao.backstage.model.UserJid" >
    insert into user_jid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jidId != null" >
        jid_id,
      </if>
      <if test="jidSha != null" >
        jid_sha,
      </if>
      <if test="jid != null" >
        jid,
      </if>
      <if test="historyEnabled != null" >
        history_enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jidId != null" >
        #{jidId,jdbcType=BIGINT},
      </if>
      <if test="jidSha != null" >
        #{jidSha,jdbcType=CHAR},
      </if>
      <if test="jid != null" >
        #{jid,jdbcType=VARCHAR},
      </if>
      <if test="historyEnabled != null" >
        #{historyEnabled,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tech.jiangtao.backstage.model.UserJidExample" resultType="java.lang.Integer" >
    select count(*) from user_jid
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_jid
    <set >
      <if test="record.jidId != null" >
        jid_id = #{record.jidId,jdbcType=BIGINT},
      </if>
      <if test="record.jidSha != null" >
        jid_sha = #{record.jidSha,jdbcType=CHAR},
      </if>
      <if test="record.jid != null" >
        jid = #{record.jid,jdbcType=VARCHAR},
      </if>
      <if test="record.historyEnabled != null" >
        history_enabled = #{record.historyEnabled,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_jid
    set jid_id = #{record.jidId,jdbcType=BIGINT},
      jid_sha = #{record.jidSha,jdbcType=CHAR},
      jid = #{record.jid,jdbcType=VARCHAR},
      history_enabled = #{record.historyEnabled,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tech.jiangtao.backstage.model.UserJid" >
    update user_jid
    <set >
      <if test="jidSha != null" >
        jid_sha = #{jidSha,jdbcType=CHAR},
      </if>
      <if test="jid != null" >
        jid = #{jid,jdbcType=VARCHAR},
      </if>
      <if test="historyEnabled != null" >
        history_enabled = #{historyEnabled,jdbcType=INTEGER},
      </if>
    </set>
    where jid_id = #{jidId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="tech.jiangtao.backstage.model.UserJid" >
    update user_jid
    set jid_sha = #{jidSha,jdbcType=CHAR},
      jid = #{jid,jdbcType=VARCHAR},
      history_enabled = #{historyEnabled,jdbcType=INTEGER}
    where jid_id = #{jidId,jdbcType=BIGINT}
  </update>
</mapper>